*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(images/background_img.jpg);
    background-size: cover;
    /* background-position: center; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-left: 5%;
    padding-right: 33%;
}

.logo{
    color: white;
    font-weight: 35px;
    font-size: 48px;
    letter-spacing: 1px;
    cursor: pointer;
    /* text-decoration: underline; */
}

span{
    color: #f9004c;
    /* text-decoration: underline; */
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f9004c;
    transition: .4s;

}

.content{
    /* color: white; */
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.content h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

.content h3{
    color: white;
    font-size: 25px;
}

.content h4{
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 20px;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img{
    height: auto;
    width: 400px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: aliceblue;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: #f9004c;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    cursor: pointer;
}

button:hover{
    background-color: transparent;
    border: 2px solid #f9004c;
}

.contact-me{
    width: 100%;
    height: 190px;
    background: #212121;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}